
body {
    margin: 0px;
    height: 100%;

    /*Background-Color*/
    background-color: #f5f6fa;

    /*Standardized Fonts*/
    font-family: 'Trebuchet MS';

    /*Add the ability to scroll*/
    overflow-y: scroll;

    /*Hide scrollbar for IE, Edge & FireFox*/
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/*Hide scrollbar for Chrome, Safari & Opera*/
body::-webkit-scrollbar {
    display: none;
}



/*Navigation Bar*/
.nav_bar {
    overflow: hidden;
    background-color: #7f8c8d;
    position: absolute;
    margin: 0px;
    width: 100%;
    top: 0;
}

.nav_bar a{
    float: right;
    color: #ecf0f1;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 17px;
}

.nav_bar a:hover {
    background-color: #3498db;
    color: #ecf0f1;
}

/*Home Info*/
.home_info {
    background-image: url("welcome_background.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.home_info h1 {
    margin-top: 300px;
    margin-left: 130px;
}

.home_info h3 {
    margin-left: 130px;
    width: 45%;
    height: auto;
    text-align: justify;
    text-decoration: none;
}

/*About Me Info*/
.about_me_info {
    background-image: url("graph_paper.jpg");
    width: auto;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.about_me_info h2 {
    overflow: hidden;
    background-color: #7f8c8d;
    color: #ecf0f1;
    margin: 0px;
    padding: 10px 0px 10px 130px;
    width: auto;
    height: auto;
}

.about_me_info img {
    display: block;
    float: right;
    margin: 3.5% 3% 0% 0%;
    padding: 1% 1% 1% 1%;
    width: auto;
    height: 500px;
    background-color: #bdc3c7;
}

.about_me_white_box {
    background-color: #ecf0f1;
    color: black;
    float: left;
    margin: 10% 0% 0% 2%;
    padding: 1% 1% 1% 1%;
    text-align: justify;
    width: 65%;
}

/*Projects Info*/
.projects_info {
    height: 100vh;
}

.projects_info h2{
    overflow: hidden;
    background-color: #7f8c8d;
    color: #ecf0f1;
    margin: 0px;
    padding: 10px 0px 10px 130px;
    max-width: auto;
    height: auto;
}

.projects_info h3 {
    padding: 10px 130px 10px 130px;
    text-align: left;
}

.projects_info #github_icon {
    width: 80px;
    height: 80px;
    float: right;
    margin: 1% 2% 0% 5%;

}

.polaroid_row_1 {
   width: 30%;
   background-color: #ecf0f1;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   float: left;
   padding: 10px;
   margin: 2% 9.3% 2% 9.3%;
   position: sticky;
}

.polaroid_row_2 {
    width: 30%;
    background-color: #ecf0f1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
    padding: 10px;
    margin: 2% 9.3% 5% 9.3%;
    position: sticky;
 }

.polaroid_row_1:hover .overlay {
    opacity: 1;
}

.polaroid_row_2:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #ecf0f1;
}

.summary {
    color: #2c3e50;
    font-size: 20px;
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 8%;
    transform: translate(-4.5%, -45%);
    -ms-transform: translate(-4.5%, -45%);
    text-align: justify;
}

/*Contact Info*/
.contact_info {
    background-image: url("contact_background.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: inline-block;
}

.contact_info h2{
    overflow: hidden;
    background-color: #7f8c8d;
    color: #ecf0f1;
    margin: 0px;
    padding: 10px 0px 10px 130px;
    width: auto;
    height: auto;
}

.contact_info h3 {
    margin: 15% 5% 0% 5%;
    padding: 10px 10px 10px 10px;
    width: auto;
    height: 2%;
    text-align: center;
}

.contact_icon {
    margin: 0% 37% 18% 37%;
}

.contact_icon img {
    width: 80px;
    display: inline-block;
    padding: 20px 20px 20px 20px;
    margin: 0% auto 0% auto;
}

/*Bottom Bar*/
.bottom_bar {
    overflow: hidden;
    background-color: #7f8c8d;
    margin: 0px;
    padding: 10px 30px;
}

.bottom_bar p {
    text-align: left;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
    color: #ecf0f1;
    font-size: 12px;
    display: inline;

}