body {
    margin: 0px;
    background-color: #ecf0f1;
}

/*Navigation Bar*/
.nav_bar {
    overflow: hidden;
    background-color: #7f8c8d;
}
.nav_bar a{
    float: right;
    color: #ecf0f1;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    font-size: 17px;
}

.nav_bar a:hover {
    background-color: #3498db;
    color: #ecf0f1;
}

/*Home Info*/
.home_info {
    padding-left: 26px;
}